﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Mentor.Master" AutoEventWireup="true" CodeBehind="PostReply.aspx.cs" Inherits="WEB_P08_5.PostReply" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            width: 476px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <table class="w-100">
        <tr>
            <td class="auto-style1">Post Reply to Parent<br />
                <br />

               
                <br />
                Message:<br />
                <br />
                <br />
            </td>
            <td>
                <br />
               
                <br />
                
                <br />
                <asp:TextBox ID="tbParentMsg" runat="server" TextMode="MultiLine" Width="500px"></asp:TextBox>
                <br />
                  <asp:Label ID="lblMessage" runat="server" ForeColor="Red" Text="*"></asp:Label>
                <br />
                <asp:Button ID="btnSendMsg" runat="server" OnClick="btnSendMsg_Click" Text="Send" />
                <br />
            </td>
        </tr>
    </table>
</asp:Content>
