﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SystemAdmin.Master" AutoEventWireup="true" CodeBehind="SystemHome.aspx.cs" Inherits="WEB_P08_5.SystemHome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
