﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Parent.Master" AutoEventWireup="true" CodeBehind="ViewReply.aspx.cs" Inherits="WEB_P08_5.ViewReply" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <p>
        Replies</p>
    <p>
        <asp:GridView ID="gvReply" runat="server">
        </asp:GridView>
    </p>
</asp:Content>
